.playbar {
  position: fixed;
  background-color: #9340fe;
  padding: 0 20px;

  height: max(14vh, 70px);

  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  gap: 30px;

  & > p {
    font-size: 14px;
  }

  & * {
    color: white;
  }
}

.preview {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}

.credits {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4px;
  letter-spacing: 2px;

  & > p {
    font-size: 14px;
  }
}

.slider {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-basis: 600px;
  margin-left: auto;
}

@media (max-width: 768px) {
  .playbar {
    gap: 15px;
    padding: 0 10px;
    & > p {
      font-size: 10px;
    }
  }
  .credits {
    gap: 0px;
    letter-spacing: 1px;
    & > p {
      font-size: 14px;
    }
    & > h4 {
      font-size: 16px;
    }
  }
  .preview {
    width: 42x;
    height: 42x;
    border-radius: 8px;
  }
}
@media (max-width: 585px) {
  .playbar {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 5px;
  }
  .credits {
    justify-content: center;
    gap: 0px;
    letter-spacing: 1px;
    margin: 0 auto;
    & > h4,
    & > p {
      align-content: center;
      margin: 0 auto;
    }
  }
  .preview {
    width: 40x;
    height: 40x;
    border-radius: 8px;
  }
}
